.achievements {
    display: flex;
    color: black;
    margin-top: 3em;
    justify-content: center;

    @media (max-width: 1024px) {
        margin-right: unset;
    }
}

.achievementsArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    & div {
        --arrow-width: 3em;
        margin: 0 1vw;
        width: var(--arrow-width);
        height: var(--arrow-width);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &:hover div {
        --scaling-width: 0.4em;
        margin: 0 calc(1vw - var(--scaling-width) / 2);
        width: calc(var(--arrow-width) + var(--scaling-width));
        height: calc(var(--arrow-width) + var(--scaling-width));
    }
}

.achievementImgBlock {
    display: none;

    &.active {
        display: block !important;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;
    }

    & img {
        width: 15em;
        height: auto;
        aspect-ratio: 240 / 339;
        filter: brightness(75%);
        cursor: pointer;

        &:hover {
            filter: brightness(100%);
        }

        @media (max-width: 1024px) {
            filter: brightness(100%);
        }
    }
}

.achievementsImgBlockList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
        width: 100%;
    }
}