.headerBlock {
    position: fixed;
    padding: 6em 0;
    width: var(--block-width);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    height: 100%;

    @media (max-width: 1024px) {
        position: relative;
        width: 100%;
        height: min-content;
        padding-bottom: 0;
    }
}

.header {
    color: var(--text-color);
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.025em;
}

.subHeader {
    color: var(--text-color);
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: -0.025em;
    margin-top: 0.8em;
}

.description {
    color: var(--light-gray);
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1em;
    max-width: 20em;
}

.blockLinkList {
    margin-top: 4em;

    @media (max-width: 1024px) {
        display: none;
    }
}

.blockLinkList_element {
    display: flex;
    padding: 0.6875rem 0.36125rem 0.75rem 0;
    align-items: center;
    gap: 1rem;
    user-select: none;
    max-width: max-content;

    .blockLinkList_element_line {
        width: 2rem;
        height: 0.1rem;
        background: #475569;
        transition: all .2s ease;
    }

    .blockLinkList_element_text {
        color: var(--gray-color);
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
    }

    &.active > .blockLinkList_element_line {
        width: 4rem;
        background: var(--text-color);
    }

    &.active > .blockLinkList_element_text {
        color: var(--text-color);
    }

    &:not(.active):hover > .blockLinkList_element_line {
        width: 4rem;
        background: var(--text-color);
        animation-duration: .5s;
        animation-name: hover-header-list-element;
    }

    &:hover {
        cursor: pointer;
    }
}

@keyframes hover-header-list-element {
    0% {
        background: #475569;
        width: 2rem;
    }

    100% {
        width: 4rem;
        background: var(--text-color);
    }
}

.socialNetworks {
    display: flex;
    gap: max(1rem, 1.25vw);
    align-items: center;
    align-content: center;
    align-self: stretch;
    margin-top: 2rem;
}

.socialNetworks_element {
    width: 1.75rem;
    aspect-ratio: 1 / 1;
    user-select: none;
    transition: all .1s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.iconsMobile {
    display: none;

    @media (max-width: 1024px) {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .iconsDesktop {
        display: none;
    }
}