.element {
    display: flex;
    gap: 2.5em;
    padding: 1em;
    width: var(--block-width);
    border-radius: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0);

    &:hover {
        background-color: rgba(23, 38, 73, 0.5);
        border: 1px solid rgba(23, 38, 73, 1);
        box-shadow: 0 0.05em 0.1em 0 rgb(23, 38, 73);
        cursor: pointer;

        .elementBlockHeader_linkDefault {
            display: inline-block;
            transform: translateX(0.3em) translateY(-0.3em);
            filter: brightness(0) saturate(100%) invert(84%) sepia(29%) saturate(786%) hue-rotate(109deg) brightness(100%) contrast(84%);
        }

        .elementBlockHeader > div {
            color: #5EEAD4;
        }
    }

    @media (max-width: 1024px) {
        width: 100%;
        padding: 1em 0;

        display: grid;
        grid-template-columns: 1fr 10fr;
    }

    @media (max-width: 600px) {
        display: flex;
        gap: 1em;

        &.element_mobile_reverse {
            flex-direction: column-reverse;
            gap: 0.5em;
        }
    }
}

.elementBlockHeader_linkHover {
    display: none;
}

.elementBlockHeader_link {
    background-size: contain;
}

.elementHeader {
    color: var(--gray-color);
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.01875em;
    text-transform: uppercase;
    line-height: 1.45em;

    min-width: 7.75em;

    @media (max-width: 600px) {
        margin-bottom: 0.5em;
    }
}


.elementBlockUnderHeader {
    display: flex;
    flex-direction: column;
    color: var(--gray-color);
    font-size: 1em;
    font-weight: 500;
    line-height: 1.25em;
}

.elementBlockHeader {
    display: flex;
    flex-direction: row;
    position: relative;

    & > div {
        color: var(--text-color);
        font-size: 1em;
        font-weight: 500;
        line-height: 1.25em;
    }
}

.specialization {
    margin-bottom: 0.5em;
}

.specializationAbout {
    color: var(--light-gray);
    font-size: 0.875em;
    line-height: 1.5em;
    margin-bottom: 1.14em;
}

.skillsList {
    display: inline-block;
}


.imageBlock {
    --image-width: 8em;
    --border-width: 0.125em;

    width: var(--image-width);

    border-radius: 0.25em;
    border: var(--border-width) solid rgba(226, 232, 240, 0.10);

    align-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: 600px) {
        --image-width: clamp(15em, 100%, 30em);
        margin-top: 0.5em;
    }

    .image {
        aspect-ratio: 5 / 3;

        width: var(--image-width);
        height: auto;
        border-radius: var(--border-width);
    }
}