header {
    position: fixed;
    padding: 6vw 0;
    width: var(--block-width);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    height: 100%;
}

.header-header {
    color: #E2E8F0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.075rem;
}

.header-under-header {
    color: #E2E8F0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: -0.03125rem;
    margin-top: 1rem;
}

.header-text {
    color: #94A3B8;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    max-width: 20rem;
}

.header-list {
    margin-top: 4vw;
}

.header-list-element {
    display: flex;
    padding: 0.6875rem 0.36125rem 0.75rem 0;
    align-items: center;
    gap: 1rem;
    user-select: none;
    max-width: max-content;
}

.header-list-element.active > .header-list-element-line {
    width: 4rem;
    background: #E2E8F0;
}

.header-list-element:hover {
    cursor: pointer;
}

.header-list-element:not(.active):hover > .header-list-element-line {
    width: 4rem;
    background: #E2E8F0;
    animation-duration: .5s;
    animation-name: hover-header-list-element;
}

@keyframes hover-header-list-element {
    0% {
        background: #475569;
        width: 2rem;
    }

    100% {
        width: 4rem;
        background: #E2E8F0;
    }
}

.header-list-element-line {
    width: 2rem;
    height: 0.1rem;
    background: #475569;
    transition: all .2s ease;
}

.header-list-element-text {
    color: #64748B;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.header-list-element.active > .header-list-element-text {
    color: #E2E8F0;
}

.header-icons {
    display: flex;
    gap: max(1rem, 1.25vw);
    align-items: center;
    align-content: center;
    align-self: stretch;
    margin-top: 2rem;
}

.header-icons-element {
    width: 1.75rem;
    aspect-ratio: 1 / 1;
    user-select: none;
    transition: all .1s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-results {
    display: flex;
    color: black;
    margin-top: 3rem;
    justify-content: center;
}

.header-results-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.header-results-img-block img {
    width: 15rem;
    height: auto;
    aspect-ratio: 12 / 17;
    filter: brightness(75%);
    cursor: pointer;
}

.header-results-img-block img:hover {
    filter: brightness(100%);
}

.header-results-arrow div {
    --arrow-width: 3rem;
    margin: 0 1vw;
    width: var(--arrow-width);
    height: var(--arrow-width);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-results-arrow:hover div {
    --scaling-width: 0.4rem;
    margin: 0 calc(1vw - var(--scaling-width) / 2);
    width: calc(var(--arrow-width) + var(--scaling-width));
    height: calc(var(--arrow-width) + var(--scaling-width));
}

.header-results-img-block.active {
    display: block !important;
    animation-name: appear-header-results-img;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
}

@keyframes appear-header-results-img {
    0% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg)
    }
}

.header-results-img-block {
    display: none;
}

.header-results-img-block-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .header-results-img-block img {
        filter: brightness(100%);
    }

    header {
        position: relative;
        width: 100%;
        height: min-content;
        padding-bottom: 0;
    }

    .header-list {
        display: none;
    }

    .header-results {
        margin-right: unset;
    }

    .header-results-img-block-list {
        width: 100%;
    }

    @keyframes appear-header-results-img {
        0% {
            transform: rotate(-2deg);
        }
    }
}
