<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портфолио</title>
    <meta name="viewport" content="width=device-width">
    <link href="/static/style/murecho_font.css" rel="stylesheet">
    <link href="/static/style/common.css" rel="stylesheet">
    <link href="/static/style/header.css" rel="stylesheet">
    <link href="/static/style/main.css" rel="stylesheet">
</head>
<body>
<div class="spotlight"></div>
<div class="header-main">
    <header>
        <h2 class="header-header">Исупов Григорий</h2>
        <h3 class="header-under-header">Full-stack developer</h3>
        <p class="header-text">Разработка сайтов, мобильных приложений, кроссплатформенных решений</p>
        <div class="header-list">
            <div class="header-list-element active" id="main-about">
                <span class="header-list-element-line"></span>
                <p class="header-list-element-text">О себе</p>
            </div>
            <div class="header-list-element" id="main-job-place-list">
                <span class="header-list-element-line"></span>
                <p class="header-list-element-text">Опыт</p>
            </div>
            <div class="header-list-element" id="main-project-list">
                <span class="header-list-element-line"></span>
                <p class="header-list-element-text">Проекты</p>
            </div>
        </div>
        <div class="header-icons header-icons-desk">
            <a href="https://github.com/domster704" target="_blank">
                <div class="header-icons-element" style="background-image: url('/static/res/image/svg/github.svg')"></div>
            </a>
            <a href="https://t.me/bolt321" target="_blank">
                <div class="header-icons-element" style="background-image: url('/static/res/image/svg/tg.svg')"></div>
            </a>
            <a href="https://wa.me/79127458900" target="_blank">
                <div class="header-icons-element" style="background-image: url('/static/res/image/svg/whatsapp.svg')"></div>
            </a>
        </div>
        <!-- TODO: сделать генерацию через js   -->
        <div class="header-results" id="slider-block">
            <div class="header-results-arrow">
                <div style="background-image: url('/static/res/image/svg/arrow_back.svg')" id="slider-arrow-back"></div>
            </div>
            <div class="header-results-img-block-list">
                <div class="header-results-img-block active">
                    <a href="res/docs/ITS.pdf" target="_blank"><img src="/static/res/image/certificate/ITS.png" alt=""></a>
                </div>
                <div class="header-results-img-block">
                    <a href="res/docs/CP.pdf" target="_blank"><img src="/static/res/image/certificate/CP.png" alt=""></a>
                </div>
                <div class="header-results-img-block">
                    <a href="res/docs/KM.pdf" target="_blank"><img src="/static/res/image/certificate/KM.png" alt=""></a>
                </div>
            </div>
            <div class="header-results-arrow">
                <div style="background-image: url('/static/res/image/svg/arrow_next.svg')" id="slider-arrow-next"></div>
            </div>
        </div>
    </header>
    <main>
        <div>
            <div class="mobile-about">О себе</div>
            <div class="main-about">
                <p class="main-about-paragraph">
                    Я специализируюсь на создании веб-приложений, цифровом дизайне продуктов, разработке систем
                    визуального
                    дизайна, кроссплатформенном ПО и API.
                    Мне нравится создавать легкий и отзывчивый пользовательский интерфейс и разрабатывать удобные
                    цифровые
                    продукты.
                    Я всегда ищу новые возможности для сотрудничества в проектах для постоянного саморазвития.
                </p>
                <p class="main-about-paragraph">
                    Мой путь начался с программы обучения <a href="https://www.samsung.com/ru/inrussia/school/"
                                                             target="_blank">IT School
                    Samsung</a>, и с этого момента я стал заниматься мобильной разработкой. Проработав почти 2 года
                    Android-разрабочтиком в <a href="https://amberizh.ru/" target="_blank">Янтарь+</a>, я решил
                    расширить свой
                    опыт разработкой веб решений и ПО.
                </p>
                <p class="main-about-paragraph">
                    В настоящее время я обучаюсь в ВУЗе <a href="https://misis.ru/" target="_blank">НИТУ МИСИС</a> по
                    программе <a
                        href="https://misis.ru/applicants/admission/baccalaureate-and-specialty/faculties/math/"
                        target="_blank">прикладная
                    математика</a> и развиваюсь как Full-stack разработчик.
                </p>
                <p class="main-about-paragraph">
                    Для связи со мной можете написать на <a href="mailto:domster704@mail.ru" target="_blank">domster704@mail.ru</a>.
                </p>
            </div>
            <div class="header-icons header-icons-mobile">
                <a href="https://github.com/domster704" target="_blank">
                    <div class="header-icons-element" style="background-image: url('res/image/svg/github.svg')"></div>
                </a>
                <a href="https://t.me/bolt321" target="_blank">
                    <div class="header-icons-element" style="background-image: url('res/image/svg/tg.svg')"></div>
                </a>
                <a href="https://wa.me/79127458900" target="_blank">
                    <div class="header-icons-element" style="background-image: url('res/image/svg/whatsapp.svg')"></div>
                </a>
            </div>
        </div>
        <div>
            <div class="mobile-exp">Опыт</div>
            <div class="main-job-place-list">
<!--                <a href="https://docs.google.com/document/d/1rJf5wbKvd1DfBzc-4wt-n1V-PVf87Klj6TQCP4cWaVc/edit#heading=h.brj968kgos0e" target="_blank">-->
                <a href="res/docs/resume.pdf" target="_blank">
                    <div class="main-view-full-resume">
                        <p>Полное резюме</p>
                        <img alt="" src="/static/res/image/svg/next.svg">
                    </div>
                </a>
            </div>
        </div>
        <div>
            <div class="mobile-projects">Проекты</div>
            <div class="main-project-list">
                <a href="/projectList"
                   target="_blank">
                    <div class="main-view-full-resume">
                        <p>Полный список проектов</p>
                        <img alt="" src="{{ url_for('static', filename='res/image/svg/next.svg') }}">
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='script/generateViewsConfig.js') }}"></script>
<script src="{{ url_for('static', filename='script/generateViews.js') }}"></script>
<script src="{{ url_for('static', filename='script/spotlight.js') }}"></script>
<script src="{{ url_for('static', filename='script/slider.js') }}"></script>
<script src="{{ url_for('static', filename='script/mainIndex.js') }}"></script>
</body>
</html>