<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портфолио</title>
    <meta name="viewport" content="width=device-width">
    <link href="/static/style/murecho_font.css" rel="stylesheet">
    <link href="/static/style/common.css" rel="stylesheet">
    <link href="/static/style/header.css" rel="stylesheet">
    <link href="/static/style/main.css" rel="stylesheet">
</head>
<body>
<div class="spotlight"></div>
<div class="header-main">
    <header>
        <h2 class="header-header">Исупов Григорий</h2>
        <h3 class="header-under-header">Full-stack developer</h3>
        <p class="header-text">Разработка сайтов, мобильных приложений, кроссплатформенных решений</p>
        <div class="header-list">
            <div class="header-list-element active" id="main-about">
                <span class="header-list-element-line"></span>
                <p class="header-list-element-text">О себе</p>
            </div>
            <div class="header-list-element" id="main-job-place-list">
                <span class="header-list-element-line"></span>
                <p class="header-list-element-text">Опыт</p>
            </div>
            <div class="header-list-element" id="main-project-list">
                <span class="header-list-element-line"></span>
                <p class="header-list-element-text">Проекты</p>
            </div>
        </div>
        <div class="header-icons header-icons-desk">
            <a href="https://github.com/domster704" target="_blank">
                <div class="header-icons-element" style="background-image: url('/static/res/image/svg/github.svg')"></div>
            </a>
            <a href="https://t.me/bolt321" target="_blank">
                <div class="header-icons-element" style="background-image: url('/static/res/image/svg/tg.svg')"></div>
            </a>
            <a href="https://wa.me/79127458900" target="_blank">
                <div class="header-icons-element" style="background-image: url('/static/res/image/svg/whatsapp.svg')"></div>
            </a>
            <a href="mailto:domster704@mail.ru" target="_blank">
                <div class="header-icons-element"
                     style="background-image: url('/static/res/image/svg/mail.svg')"></div>
            </a>
        </div>
    </header>
    <main>
        <div>
            <div class="mobile-about">О себе</div>
            <div class="main-about">
                <p>
                    Я — Full-stack разработчик с опытом, специализирующийся на создании веб-приложений, веб-серверов,
                    UI/UX и
                    конфигурации виртуальных машин.
                </p>
                <p>
                    Мобильную разработку я изучил в
                    <a href="https://www.samsung.com/ru/inrussia/school/" target="_blank">IT School Samsung</a>. После
                    этого я работал в компании <a href="https://amberizh.ru/" target="_blank">Янтарь+</a> 3 года.
                    Параллельно с
                    этим набирал опыт в следующих компаниях: ПРОНЕТКОМ и Dial Digital Agency.
                </p>
                <p>
                    В <a href="https://amberizh.ru/" target="_blank">Янтарь+</a> я занимал позицию
                    Android-разработчика, где улучшил интерфейс мобильного сервиса и
                    оптимизировал работу алгоритмов.

                    <br>В <a href="https://pronetcom.ru/" target="_blank">ПРОНЕТКОМ</a>
                    я работал Full-stack разработчиком, занимался ускорением SQL-запросов
                    и улучшениями функционала существующего проекта <a href="https://easymerch.ru/" target="_blank">EasyMerch</a>.

                    <br>В настоящее время я занимаю позицию Front-end разработчика в
                    <a href="https://dialweb.ru/" target="_blank">Dial Digital Agency</a>, где занимаюсь версткой и
                    разработкой сайтов под 1С-Битрикс: Управление сайтом. Имею <a
                        href="https://dev.1c-bitrix.ru/learning/course/index.php?COURSE_ID=34&INDEX=Y" target="_blank">сертификацию
                    1C-Битрикс в области "Контент-менеджер".</a>
                </p>
                <div>
                    <p>Мои ключевые навыки включают: создание и настройка сайтов под управлением
                        <a href="https://www.1c-bitrix.ru/products/cms/" target="_blank">1С-Битрикс: Управление
                            сайтом</a>,
                        разработка клиент-серверных приложений, SPA, PWA на
                        <a href="https://react.dev/" target="_blank">ReactJS</a> +
                        <a href="https://palletsprojects.com/p/flask/" target="_blank">Flask</a>/
                        <a href="https://fastapi.tiangolo.com/" target="_blank">FastAPI</a>/
                        <a href="https://expressjs.com/ru/" target="_blank">ExpressJS</a>,
                        конфигурация Linux-серверов,
                        <a href="https://nginx.org/ru/" target="_blank">Nginx</a>,
                        <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>,
                        создание кроссплатформенного ПО на <a href="https://www.qt.io/" target="_blank">QT</a>.
                    </p>
                </div>

                <!--                <p>-->
                <!--                    Свой профессиональный путь я начал в <a href="https://amberizh.ru/" target="_blank">Янтарь+</a> в-->
                <!--                    качестве Android-разработчика после обучения в-->
                <!--                    <a href="https://www.samsung.com/ru/inrussia/school/" target="_blank">IT School Samsung</a>, где я-->
                <!--                    освоил мобильную разработку. Работая уже 3 года, я параллельно набирал опыт в других компаниях и-->
                <!--                    развивался в ПО и веб-разработке.-->
                <!--                </p>-->
                <!--                <p>-->
                <!--                    Мои ключевые навыки включают создание легких и отзывчивых пользовательских интерфейсов,-->
                <!--                    кроссплатформенного ПО, API и UI/UX. <br>Я также прошел-->
                <!--                    <a href="https://dev.1c-bitrix.ru/learning/course/index.php?COURSE_ID=34&INDEX=Y" target="_blank">сертификацию-->
                <!--                        от 1C-Bitrix в области "Контент-менеджер".</a>-->
                <!--                </p>-->
                <!--                <p>-->
                <!--                    За последние 3 года я работал в следующих компаниях: Янтарь+, ПРОНЕТКОМ и Dial Digital Agency.-->
                <!--                    <br>В <a href="https://amberizh.ru/" target="_blank">Янтарь+</a> я занимал позицию-->
                <!--                    Android-разработчика, где улучшил интерфейс мобильного сервиса и-->
                <!--                    оптимизировал работу алгоритмов.-->

                <!--                    <br>В <a href="https://pronetcom.ru/" target="_blank">ПРОНЕТКОМ</a>-->
                <!--                    я работал Full-stack разработчиком, занимался ускорением SQL-запросов-->
                <!--                    и улучшениями функционала существующего проекта <a href="https://easymerch.ru/" target="_blank">EasyMerch</a>.-->

                <!--                    <br>В настоящее время я занимаю позицию Front-end разработчика в-->
                <!--                    <a href="https://dialweb.ru/" target="_blank">Dial Digital Agency</a>, где занимаюсь версткой и-->
                <!--                    разработкой сайтов под CMS Битрикс.-->
                <!--                </p>-->
                <p>
                    Также я получаю высшее образование в <a href="https://misis.ru/" target="_blank">НИТУ МИСИС</a>
                    по специальности
                    <a href="https://misis.ru/applicants/admission/baccalaureate-and-specialty/faculties/math/"
                       target="_blank">прикладная математика</a> и продолжаю развиваться как Full&#8209;stack
                    разработчик.
                </p>
            </div>
            <!-- TODO: сделать генерацию через js   -->
            <div class="header-results" id="slider-block">
                <div class="header-results-arrow">
                    <div style="background-image: url('/static/res/image/svg/arrow_back.svg')"
                         id="slider-arrow-back"></div>
                </div>
                <div class="header-results-img-block-list">
                    <div class="header-results-img-block active">
                        <a href="/static/res/docs/ITS.pdf" target="_blank"><img
                                src="/static/res/image/certificate/ITS.png"
                                alt=""></a>
                    </div>
                    <div class="header-results-img-block">
                        <a href="/static/res/docs/CP.pdf" target="_blank"><img
                                src="/static/res/image/certificate/CP.png"
                                alt=""></a>
                    </div>
                    <div class="header-results-img-block">
                        <a href="/static/res/docs/KM.pdf" target="_blank"><img
                                src="/static/res/image/certificate/KM.png"
                                alt=""></a>
                    </div>
                </div>
                <div class="header-results-arrow">
                    <div style="background-image: url('/static/res/image/svg/arrow_next.svg')"
                         id="slider-arrow-next"></div>
                </div>
            </div>
            <div class="header-icons header-icons-mobile">
                <a href="https://github.com/domster704" target="_blank">
                    <div class="header-icons-element"
                         style="background-image: url('/static/res/image/svg/github.svg')"></div>
                </a>
                <a href="https://t.me/bolt321" target="_blank">
                    <div class="header-icons-element"
                         style="background-image: url('/static/res/image/svg/tg.svg')"></div>
                </a>
                <a href="https://wa.me/79127458900" target="_blank">
                    <div class="header-icons-element"
                         style="background-image: url('/static/res/image/svg/whatsapp.svg')"></div>
                </a>
                <a href="mailto:domster704@mail.ru" target="_blank">
                    <div class="header-icons-element"
                         style="background-image: url('/static/res/image/svg/mail.svg')"></div>
                </a>
            </div>
        </div>
        <div>
            <div class="mobile-exp">Опыт</div>
            <div class="main-job-place-list">
                <a href="/static/res/docs/resume.pdf" target="_blank">
                    <div class="main-view-full-resume">
                        <p>Полное резюме</p>
                        <img alt="" src="/static/res/image/svg/next.svg">
                    </div>
                </a>
            </div>
        </div>
        <div>
            <div class="mobile-projects">Проекты</div>
            <div class="main-project-list">
                <a href="/projectList"
                   target="_blank">
                    <div class="main-view-full-resume">
                        <p>Полный список проектов</p>
                        <img alt="" src="/static/res/image/svg/next.svg">
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/static/script/generateViewsConfig.js"></script>
<script src="/static/script/generateViews.js"></script>
<script src="/static/script/spotlight.js"></script>
<script src="/static/script/slider.js"></script>
<script src="/static/script/mainIndex.js"></script>
</body>
</html>