<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проекты</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/static/res/image/resume.ico">
    <link href="/static/style/murecho_font.css" rel="stylesheet">
    <link href="/static/style/common.css" rel="stylesheet">
    <link href="/static/style/header.css" rel="stylesheet">
    <link href="/static/style/main.css" rel="stylesheet">
    <link href="/static/style/projects.css" rel="stylesheet">
</head>
<body>
<div class="spotlight"></div>
<div class="projects">
    <a href="/">
        <div class="back">
            <div class="back-image-block">
                <img alt="" src="/static/res/image/svg/back.svg">
            </div>
            <p>Полное резюме</p>
        </div>
    </a>
    <h1 class="projects-header">Все проекты</h1>
    <div class="projects-table">
        <div class="projects-table-row projects-table-header">
            <p class="col-1">Год</p>
            <p class="col-2">Проект</p>
            <p class="col-3">Цель</p>
            <p class="col-4">Технологии</p>
            <p class="col-5">Ссылки</p>
        </div>
    </div>
</div>

<script src="/static/script/generateViewsConfig.js"></script>
<script src="/static/script/generateViews.js"></script>
<script src="/static/script/mainProjects.js"></script>
<script src="/static/script/spotlight.js"></script>
</body>
</html>