.background {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;

    background: var(--background);
}

.admin_background {
    background: rgba(223, 223, 223, 1);
}