@font-face {
    font-family: "Murecho";
    src: url("assets/font/Murecho/Murecho-VariableFont_wght.woff2") format('truetype');
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .15s font-size ease;
    font-family: "Murecho", sans-serif;
}

:root {
    --block-width: 35em;
    --main-padding: calc((100vw - 2 * var(--block-width)) / 2);

    --gray-color: #8997ab;
    --text-color: #E2E8F0;
    --light-gray: #94A3B8;

    @media (max-width: 1024px) {
        --main-padding: 1.5em !important;
    }

    @media (max-width: 1200px) {
        --main-padding: 8vw;
        --block-width: calc((100vw - 2 * var(--main-padding)) / 2);
    }
}

html {
    &::-webkit-scrollbar {
        width: 0.75em;
        background: #E2E8F030;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--text-color);
        border-radius: 0.5em;
    }

    @media (min-width: 1600px) {
        font-size: max(1em, 0.9vw);
    }

    @media (min-width: 2000px) {
        font-size: max(1em, 0.8vw);
    }
}

body {
    background: #0F172A;
    font-family: Murecho, serif;
}

.spotlight {
    position: fixed;
    height: 100%;
    width: 100%;

    @media (max-width: 1024px) {
        display: none;
        position: relative;
    }
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration-color: transparent;
    text-decoration: none;
}
