@layer linkSvg {
    .linkSvg_block {
        display: inline-block;

        :is(.link_element, .col2):hover & {
            display: inline-block;
            transform: translateX(0.1em) translateY(-0.1em);
            filter: brightness(0) saturate(100%) invert(84%) sepia(29%) saturate(786%) hue-rotate(109deg) brightness(100%) contrast(84%);
        }

        .linkSvg_block__imgLink {
            min-width: 0.5em;
            min-height: 0.5em;
            margin-left: 0.1em;

            @media screen and (max-width: 463px) {
                margin-left: 0.5em;
            }
        }
    }
}

.projects {
    padding: 6vw calc(var(--main-padding) / 2);
    position: relative;

    > a:nth-of-type(1) {
        text-decoration: none;
        text-decoration-color: transparent;
    }

    @media (max-width: 1024px) {
        width: 100%;
        padding: 6vw var(--main-padding);
    }
}

.back {
    display: flex;
    flex-direction: row;

    color: #5EEAD4;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 0.5em;

    .back__imgBlock {
        display: flex;
        width: 1em;
        height: 1em;
        padding: 0.19925em 0.15em;
        align-items: flex-start;
        margin-right: 0.25em;
        transition: all .1s ease;
    }

    &:hover > .back__imgBlock {
        transform: translateX(-0.3em);
    }
}

.header {
    color: var(--text-color);
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.075em;
    padding-bottom: 1.33em;
}

.table {
    flex-direction: column;
    min-width: 100%;

    display: grid;
    gap: clamp(1em, 2vw, 1.5em);
    grid-template-columns: 0.5fr 4fr 3fr 5fr 2fr;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 4fr 5fr 1fr;
    }

    @media (max-width: 639px) {
        grid-template-columns: 1fr 4.7fr 4fr;
    }

    @media (max-width: 463px) {
        grid-template-columns: 1fr 14fr;
    }
}

p.tableHeader {
    font-size: 1em;
    color: var(--text-color);
}

.row {
    padding: 1.14em 0;

    font-size: 1em;
    font-weight: 600;
    line-height: 1.42em;

    display: contents;

    &:not(:last-child)::after {
        content: '';
        grid-column: 1 / -1;
        border-bottom: 2px solid #22293B;
    }
}

.col1 {
    color: var(--light-gray);
    font-size: 0.875em;
    line-height: 1.42em;
}

.col2 {
    color: var(--text-color);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.375em;

    & > a {
        pointer-events: none;
        text-decoration: none;
        color: inherit;
    }

    @media screen and (max-width: 639px) {
        width: 100%;
        text-wrap: pretty;

        & > a {
            pointer-events: auto;
        }

        &:hover {
            color: #5EEAD4;
        }
    }

    .linkSvg_block,
    &:hover .linkSvg_block {
        display: none;

        @media (max-width: 639px) {
            display: inline-block;
        }
    }
}

.col3 {
    color: var(--light-gray);
    font-size: 0.875em;
    line-height: 1.42em;

    @media (max-width: 1024px) {
        display: none;
    }
}

.col4 {
    display: inline-block;
    color: var(--light-gray);

    @media (max-width: 463px) {
        display: none;
    }
}

.col5 {
    display: flex;
    flex-direction: column;
    gap: 0.57em;

    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.09375em;
    color: var(--light-gray);

    @media (max-width: 639px) {
        display: none;
    }
}

.link_element {
    & > a {
        color: var(--light-gray);
        text-decoration: none;
        text-decoration-color: transparent;

        & > div {
            display: flex;
            flex-direction: row;
        }
    }

    &:hover {
        .col5_text {
            color: #5EEAD4;
        }
    }
}