.projects {
    padding: 6vw calc(var(--main-padding) / 2);
    position: relative;

    > a:nth-of-type(1) {
        text-decoration: none;
        text-decoration-color: transparent;
    }
}

.back {
    display: flex;
    flex-direction: row;

    color: #5EEAD4;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 0.5em;

    &:hover > .backImageBlock {
        transform: translateX(-0.3em);
        animation-name: back-hover;
        animation-duration: .1s;
    }
}

.backImageBlock {
    display: flex;
    width: 1em;
    height: 1em;
    padding: 0.19925em 0.15em;
    align-items: flex-start;
    margin-right: 0.25em;
    transition: all .1s ease;
}

.header {
    color: var(--text-color);
    font-size: 3em;
    font-weight: 700;
    line-height: 3em;
    letter-spacing: -0.075em;
    padding-bottom: 4em;
}

.table {
    flex-direction: column;
    min-width: 100%;

    display: grid;
    gap: clamp(1em, 2vw, 1.5em);
    grid-template-columns: 2fr 5fr 3fr 5fr 2fr;

    @media (max-width: 1024px) {
        grid-template-columns: 1.5fr 5fr 5fr 1fr;
    }

    @media (max-width: 639px) {
        grid-template-columns: 3fr 14fr;
    }
}

p.tableHeader {
    color: var(--text-color);
}

.row {
    position: relative;
    text-align: left;
    padding: 1em 0;

    font-size: 0.875em;
    font-weight: 600;
    line-height: 1.25em;

    display: contents;

    &:not(:last-child)::after {
        content: '';
        grid-column: 1 / -1;
        border-bottom: 2px solid #22293B;
    }
}

.col1 {
    color: var(--light-gray);
    font-size: 0.875em;
    line-height: 1.25em;
}

.col2 {
    color: var(--text-color);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.375em;
}

.col3 {
    color: var(--light-gray);
    font-size: 0.875em;
    line-height: 1.25em;
}

.col4 {
    display: inline-block;
    color: var(--light-gray);
}

.col5 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.09375em;
    color: var(--light-gray);
}

.col5_link {
    min-width: 0.5em;
    min-height: 0.5em;
    margin-left: 0.5em;
}

.link_element {
    & > a {
        color: var(--light-gray);
        text-decoration: none;
        text-decoration-color: transparent;

        & > div {
            display: flex;
            flex-direction: row;
        }
    }

    &:hover {
        .link_element_default {
            display: none;
        }

        .link_element_hover {
            display: block;
            transform: translateX(0.1em) translateY(-0.1em);
        }

        .col5_text {
            color: #5EEAD4;
        }
    }
}

.link_element_hover {
    display: none;
}

.col2_mobile {
    display: none;
}

.col2_new {
    display: none;
}

@media (max-width: 1024px) {
    .projects {
        width: 100%;
        padding: 6vw var(--main-padding);
    }

    .col3 {
        display: none;
    }
}

@media (max-width: 639px) {
    .col2_desk {
        display: none;
    }

    .col2_new {
        display: block;
    }

    .col2_mobile {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .col5 {
        display: none;
    }

    .col4 {
        display: none;
    }
}

@keyframes back-hover {
    0% {
        transform: translateX(0);;
    }

    100% {
        transform: translateX(-0.3em);;
    }
}