.main {
    display: flex;
    width: var(--block-width);
    margin-left: calc(var(--block-width) + 1vw);
    flex-direction: column;
    align-items: flex-start;
    gap: 5em;
    padding: 6vw 0;

    @media (max-width: 1024px) {
        width: 100%;
        margin-left: 0;
        padding: 1.5em 0;
        gap: 2.5em;
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;

    &, :is(p, li) {
        color: var(--light-gray);
        font-size: 1em;
        line-height: 1.625em;
    }

    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.25em;
    }

    & li {
        color: #5EEAD4;
    }

    & a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1em;
        font-weight: 500;
        line-height: 1.625em;
    }

    & p > a:hover {
        color: #54D5D4;
    }
}

.jobsList {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.projectsList {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.viewFullResume {
    display: flex;
    color: var(--text-color);
    font-size: 1em;
    font-weight: 600;
    line-height: 1.25em;

    & > img {
        align-self: center;
        width: 0.7em;
        height: 0.60156em;
        margin-left: 0.37em;
    }

    &:hover > p {
        text-decoration: underline;
        text-decoration-color: #54D5D4;
        text-underline-offset: 0.4em;
    }

    &:hover > img {
        margin-left: 1em;
    }
}

div[class^=mobile] {
    display: none;
    color: var(--text-color);
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.75em;
    letter-spacing: -0.03125em;
    margin: 1.5em 0;

    @media (max-width: 1024px) {
        display: block;
    }
}